// Import initial variables and helper functions first

.new-item-btn {
	display: block;
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.5rem 0.25rem;
	margin: 1.5rem 0.25rem 0rem;
	border: 1px dashed black;
}

.item {
	display: block;
	background-color: rgb(235, 229, 229);
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.25rem;
	margin: 0.25rem;
	border: 1px solid black;
}
@import '~bulma'

