// Import initial variables and helper functions first

.main-component {
	margin-top: 1.5rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.item {
	display: block;
	background-color: #DBDBDB;
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.75rem;
	margin: 0.25rem;
	border: 1px solid black;
	text-align: left;
}

.itemPlaceholder {
	margin: 2rem;
	text-align: center;
}

.completed-header {
	display: block;
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.25rem;
	margin: 0.25rem;
	text-align: left;
}

.new-item-btn {
	display: block;
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.5rem 0.25rem;
	margin: 1rem 0.25rem;
	border: 1.5px dashed #DBDBDB;
}

.to-complete-check-box {
	text-align: center;
	float: right;
	border: 1px solid;
	border-radius: 1px;
	width: 28px;
		i {
			color: transparent
		}
}

.completed-check-box {
	text-align: center;
	float: right;
	border: 1px solid;
	border-radius: 1px;
	width: 8%;
}

.navigation-bar {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #DBDBDB;

	.nav-button {
		width: calc(100% / 3);
		display: grid;
		gap: 2px;
		vertical-align: top;
		text-align: center;
		margin: 1%;
		padding: 7px;
		color: black;
		text-decoration: none;
	}
}

.sign-in {
	display: grid;
	color: white
}

.sign-out {
	display: grid;
	color: white;
	text-align: center;
}

//Overrides
.list-group {
	margin-left: 20%;
	margin-right: 20%;
}

.title {
	text-align: left;
}

.arrow {
// https://codepen.io/simonbreiter/pen/oLJAKy
  width: 1rem;
  height: 1rem;
  display: inline-block;
	position: relative;
  margin: 0 0.5rem;

  span {
    top: 70%;
    position: absolute;
    width: .6rem;
    height: .09rem;
    background-color:black;
    display: inline-block;
    transition: all .2s ease;

    &:first-of-type {
      left: 0;
			transform: rotate(45deg);
		}

    &:last-of-type {
      right: 0;
			transform: rotate(-45deg);
		}
	}

  &.active {
    span {
      &:first-of-type {
        transform: rotate(-45deg);
			}
      &:last-of-type{
				transform: rotate(45deg);
			}
		}
	}
}
