// Import initial variables and helper functions first

.item {
	display: block;
	background-color: rgb(235, 229, 229);
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.25rem;
	margin: 0.25rem;
	border: 1px solid black;

}

.new-item-btn {
	display: block;
	color: rgb(0, 0, 0);
	display: block;
	padding: 0.5rem 0.25rem;
	margin: 1rem 0.25rem;
	border: 2px dashed black;
}

.to-complete-check-box {
	text-align: center;
	float: right;
	border: 1px solid;
	border-radius: 1px;
	width: 7%;
		i {
			color: transparent
		}
}

.completed-check-box {
	text-align: center;
	float: right;
	border: 1px solid;
	border-radius: 1px;
	width: 7%;
}
	

@import '~bulma'

